body {
  background: #eceef1;
  font-family: Helvetica, Arial, sans-serif;
}

#title {
  width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#webpages {
  width: 350px;
  margin-bottom: 12px;
}

fieldset {
  background: white;
  height: 780px;
  width: 454px;
  border-radius: 3px;
  padding: 0;
  border: 1px solid #c1c5c8;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 24px;
}

h4 {
  font-size: 16px;
  line-height: 16.8px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 3px;
  text-align: center;
}

#sign-in {
  text-align: center;
  line-height: 16.8px;
  margin-top: 0;
  margin-bottom: 30px;
}

form {
  padding: 0;
  border: 0;
  margin: 0;
}

.input-div {
  margin-left: 45px;
}

.input-div label {
  margin-bottom: 8px;
}

.input-div #email {
  margin-bottom: 35px;
}

.input-div #password {
  margin-bottom: 35px;
}

#open-lock {
  width: 33px;
  position: relative;
  display: block;
  padding: 0;
  border: 0;
  bottom: 70px;
  left: 325px;
}

.input-div p {
  font-size: 12px;
  line-height: 15px;
  color: #444;
  margin-top: 6px;
  margin-bottom: 35px;
}

label {
  display: block;
  line-height: 25px;
}

input {
  width: 366px;
  height: 40px;
  border-radius: 3px;
  line-height: 1.3em;
  border: 1px solid #c1c5c8;
  padding: 1px 8px 1px 8px
}

#submit {
  letter-spacing: 0.028em;
  font-size: 1.125em;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  height: 52px;
  background: #0077c5;
  border: #0077c5;
  margin-bottom: 30px;
}

#lock {
  width: 30px;
  position: absolute;
  display: block;
  padding: 0;
  border: 0;
  margin-top: 15px;
  margin-left: 131px;
}

#fieldset-footer {
  text-align: center;
  width: 275px;
  font-size: 14px;
  color: #757575;
  line-height: 24px;
  padding-bottom: 25px;
}

#recaptcha {
  text-align: center;
  height: 43px;
  width: 454px;
  background-color: #eceef1;
  font-size: 13px;
  padding-top: 16px;
}

#recaptcha p {
  font-size: 11px;
  color: #8d9096;
}

footer {
  color: #505050;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  width: 150px;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 3px;
}

li a {
  font-size: 14;
  color: #505050;
  text-decoration: none;
  margin-right: 15px;
  margin-top: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  padding-bottom: 10px;
  margin-top: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: #0077c5;
  text-decoration: none;
}
